[submodule "app/src/main/cpp/third_party/libaribcaption"]
	path = app/src/main/cpp/third_party/libaribcaption
	url = https://github.com/makeding/libaribcaption.git
[submodule "app/src/main/cpp/third_party/tlvdemux"]
	path = app/src/main/cpp/third_party/tlvdemux
	url = https://github.com/makeding/tlvdemux.git
